<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hopdrop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HopDrop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HopDrop">

        <!-- Splash screen is the LAUNCHER -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login and registration flow -->
        <activity android:name=".LoginActivity" />

        <activity android:name=".NameEntryActivity" />
        <activity android:name=".CredentialsEntryActivity" />
        <activity android:name=".PhoneEntryActivity" />
        <activity android:name=".LocationEntryActivity" />
        <activity android:name=".NewUserCongratulationsActivity" />

        <!-- Main application screen (not launched directly) -->
        <activity android:name=".MainActivity" />

    </application>

</manifest>
